.backoffice-main-content-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 70rem;
}

.backoffice-inner-content {
    background-color: var(--secondary-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.backoffice-inner-content-lower{
    padding: 1rem;
    height: 100%;
}

.backoffice-exams-outer-div{
    width: 100%;
    height: calc(100% - 50px);
    background-color: white;
}

.backoffice-tr{
    height: 5rem;
    cursor: pointer;
}

.backoffice-tr td {
    background-color: #F7FBFD;
    vertical-align: middle;
}