.backoffice-session-main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.backoffice-session-inner-content {
    background-color: var(--secondary-color);
    height: 58rem;
    width: 90rem;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.top-div-backoffice-session {
    width: 100%;
}

.bottom-div-backoffice-session {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 7.5fr 5fr;
    column-gap: 30px;
}

.left-grid-backoffice-session {
    height: 100%;
}

.right-grid-backoffice-session {
    position: relative;
    height: 100%;
}

.backoffice-mini-player {
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
}

.backoffice-mini-player-fullscreen {
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
}

.backoffice-streams-container {
    display: flex;
    width: 100%;
    height: 84%;
}

.left-panel {
    flex: 2;
    background-color: black;
    margin-right: 10px;
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-top,
.right-bottom {
    height: 48%;
    background-color: black;
}

.backoffice-controller {
    margin-top: 25px;
    width: 100%;
}

.utility-buttons {
    column-gap: 10px;
}

.control-button {
    background-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0.5px 1px 2px;
    border: 1px solid transparent;
    border-color: rgb(204, 234, 255);
}

.seekbar-div {
    height: 40px;
}

.timer {
    background-color: var(--secondary-color);
    border-radius: 15px;
    font-size: 12px;
    padding: 1px 10px;
}

.range {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 3px;
    outline: none;
    transition: 0.7 ease-out;
    cursor: pointer;
    appearance: none;
}

.range::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--filled-width, 0%);
    background-color: rgb(0, 149, 248);
    border-radius: 3px;
    z-index: 0;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: rgb(0, 149, 248);
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 0.3s;
}

.range::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background-color: rgb(0, 149, 248);
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 0.3s;
}

.range:focus::-webkit-slider-thumb,
.range:active::-webkit-slider-thumb {
    visibility: visible;
}

.range:focus::-moz-range-thumb,
.range:active::-moz-range-thumb {
    visibility: visible;
}

.tool {
    position: relative;
}

.tool .speed-tool-tip {
    visibility: visible;
    column-gap: 10px;
    width: 240px;
    right: -100px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    opacity: 0;
    transition: opacity 0.3s;
}


.tool:hover .speed-tool-tip {
    visibility: visible;
    opacity: 1;
}

.player-active {
    background: rgb(204, 234, 255);
    border-color: rgb(204, 234, 255);
}

.attachments {
    margin-top: 25px;
}

.visited-or-files {
    width: 15rem;
    height: 3rem;
    border: none;
    padding: 0;
    border-radius: 5px;
}

.linked-icon {
    background-color: var(--primary-color);
    width: 3rem;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.backoffice-comments-main-div {
    height: 15rem;
    margin-top: 25px;
}

.backoffice-incidents {
    /* height: calc(100% - 5px); */
    height: 100%;
    overflow-y: auto;
}

.backoffice-comment-div {
    background-color: #DCDCDC;
}

.blue {
    background-color: var(--primary-color);
    width: 60px;
}

.red {
    background-color: #EC0000;
    width: 60px;
}

.disabled_red {
    background-color: #FF5454;
    width: 60px;
}

.bo_photos_relative {
    position: relative;
}

.bo_photos_fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #FFFFFF;
    padding: 20px;
    z-index: 1;
    width: calc(100% - 30px) !important;
    border-radius: 15px;
    box-shadow: 0 0px 15px hsla(0, 0%, 40%, 0.411);
    transform: translate(-50%, -50%);
    animation: scale-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-center {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        transform-origin: 50% 50%;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        transform-origin: 50% 50%;
    }
}

.bo_photos_tile {
    background-color: #DCDCDC;
    border-radius: 5px;
}

.bo_photos_tile img {
    min-width: 40px;
    border-radius: 5px 5px 0 0;
}

.bo_photos_tile div {
    font-size: 20px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.bo_photos:not(.bo_photos_fixed):hover .click_to_zoom {
    cursor: pointer;
    position: absolute;
    display: flex !important;
    align-items: center;
    background: rgba(80, 54, 54, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.click_to_zoom h5 {
    color: #FFFFFF;
    font-size: 50px;
    user-select: none;
}

.info_tag {
    font-size: 22px;
    padding: 20px 0;
}

.bo_info_box {
    background-color: #DCDCDC;
    font-size: 20px;
    color: var(--text-color);
}

.custom_bg_green {
    background-color: #42B16B;
}

.custom_bg_grayed {
    background-color: rgb(107, 107, 107);
}

.bo_info_mini_grid .col-9 .col-3 {
    color: #FFFFFF;
    text-align: center;
    max-height: 35px;
    border-radius: 10px;
}

.bo_chats {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
}

.bo_chats button {
    border-radius: 5px;
    border: none;
    outline: none;
}

.bo_chats_icon {
    border-radius: 5px 0 0 5px;
}