.rv-main-wrapper {
    display: grid;
    grid-template-columns: 9.5fr 3.5fr;
    padding: 10px;
}

.rv-stream-wrapper {
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: 1fr 1fr 40px;
    gap: 10px;
    padding: 0 5px 0 0;
    /* aspect-ratio: 1.9; */
}

.rv-stream-block {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}

.rv-stream-block video{
    width: 100%;
    height: 100%;
}

.expanded-stream {
    grid-row: 1 / 3;
    order: 1;
}

.rv-stream-action-block {
    grid-column: 1 / span 2;
}

.rv-right-wrapper {
    background-color: #DCDCDC;
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 50vh auto auto;
    row-gap: 10px;
}

.rv-evaluation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.rv-eval-btn {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.rv-eval-cancel {
    background-color: rgb(224, 157, 57);
    border-radius: 5px 0 0 5px;
}

.rv-eval-unreviewable {
    background-color: rgb(236, 0, 0);
    border-radius: 5px 0 0 5px;
}

.rv-eval-review {
    background-color: rgb(0, 158, 58);
    border-radius: 5px 0 0 5px;
}

.rv-visited-page-wrapper {
    color: rgb(82, 78, 78);
}

.rv-visited-page {
    background-color: gray;
    height: 100%
}

.rv-insert-comment-wrapper {
    border-radius: 5px;
}

.rv-insert-comment-wrapper input {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(77, 75, 75);
}

.rv-insert-comment {
    background-color: var(--primary-color);
    border-radius: 0 5px 5px 0;
}

.rv-last-comment-wrapper input {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(77, 75, 75);
}